<!--
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 1px;
  text-align: left;
  background: white;
  color: lightskyblue;

}

/* Style the top navigation bar */
.navbar {
  overflow:hidden;
    display: flex;
    flex-direction: row;
  background-color: #333;
    list-style-type: none;
    padding: 13px;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: fixed;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar dropdown:hover{
    background-color: #ddd;
  color: black;
}
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #8AADCA;
  padding: 10px;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.pdf {
    font-family: Arial;
}

.download_button {
    padding: 10px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: relative;
}


.fakeimg {
  background-color: #EEEEEE;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #ddd;
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*buton apasat pe pagina curenta*/
.active{
    background-color: #ddd;
  color: black;
}
/*search bar*/
.navbar input[type=text] {
  //position:absolute;
    float: right;
   display:flex;
    flex-direction:row;
  justify-content:flex-end;
  padding: 5px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
}
.dropdown {
  float: left;
  overflow: hidden;
    
}
/*meniu dropdown*/
.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 80px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
    margin-right:-40px;
}
.dropdown .dropbtn:hover{
  background-color: #ddd;
  color: black;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*login*/
input[type=user], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:#333;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
      background-color: #ddd;
  color:black;
    opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
} 

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}